.container {
    margin: 20px;
  }
  
  form label, form input, form button {
    margin: 10px 0;
  }
  
  #movies-container {
    margin-top: 20px;
  }
  
  .movie {
    margin-bottom: 10px;
  }
  
  .sort-buttons {
    margin-top: 20px;
  }
  
  .sort-buttons button {
    margin-right: 10px;
  }
  